.main-button {
  display: inline-block;
  background: #fdba74;
  box-shadow: 5px 5px 0px #000;
  padding: 18px 20px;
  margin-right: 0;
  transition: transform 100ms linear;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
.main-button:hover {
  transform: scale(1.08);
  opacity: 0.9;
}
.main-button.-secondButton{
  background: #dc2626;

}
.main-button.-secondButton:hover{
  background:#ef4444 ;
}